[Unit]
Description=Python API Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/user/cpsc222/cpsc-222/python-api
ExecStart=/usr/bin/env python3 /home/user/cpsc222/cpsc-222/python-api/api_server.py
Restart=on-failure

[Install]
WantedBy=default.target
